root{
  --grey-10: #F2F4F5;
  --grey-20: #FAFAFA;
  --grey-30: #7C7C7C;
  --grey-40: ##202329CC;
  --blue: #61DAFA;
  --black: #1E1E1F;
  --red: #FE2E2E;
  --green: #01BE01;
}

html{
  font-size: 10px;
}

body{
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}